body {
    background: #333333;
    color: #ffffff;
}

.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: .8;
}

#home-section {
    background: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

/* overlay effect */
#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background-color: rgba(0, 0, 0, .7);
}

#home-section .home-inner {
    padding-top: 150px;
}

#home-section .card-form {
    opacity: .8;

}

#home-section .fas,
#create-section .fas {
    color: #008ed6;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 50%;
}

#explore-section .fas,
#share-section .fas {
    background: #333333;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}